<!DOCTYPE html>
<html>
<head>
  <title>Story</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>    
	<div id="topbanner">
	    <%= link_to 'Home', root_path %>
	    <%= link_to 'People', people_path %>
	    <%= link_to 'Events', events_path %>
	    <%= link_to 'Photos', photos_path %>
	</div>

	<div id="content">
		<%= yield %>
	</div>
</body>
</html>
